* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: ;
}
.col-5 {
}
.col-6 {
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666667%;
}
.col-9 {
  width: ;
}
